In [274]:
import pandas as pd
import plotly.graph_objects as go
import seaborn as sns
import matplotlib.pyplot as plt

In [275]:
df = pd.read_csv('/Users/khali/Desktop/Coding Workspace/DataMining/data/dataset1/raw/car_prices.csv')

### Data Analysis Code // Code that answers the 30 questions located in /docs

In [276]:
#1) What kind of new vehicles are being bought by consumers?
# Assuming "new vehicles" means vehicles with low mileage (e.g., less than 10,000 miles)
new_vehicles = df[df['odometer'] < 10000]
new_vehicle_counts = new_vehicles['make'].value_counts()
new_vehicle_counts

make
Ford             4054
Nissan           2676
Chevrolet        2047
Kia              1919
BMW              1904
Toyota           1449
Hyundai          1411
Dodge            1050
Honda             999
Mercedes-Benz     791
Jeep              786
Subaru            641
GMC               593
Chrysler          587
Infiniti          450
Volkswagen        421
Lexus             404
Mazda             396
Ram               374
Audi              345
MINI              330
Mitsubishi        273
Lincoln           254
Cadillac          194
Buick             175
Porsche           143
FIAT              128
Volvo             125
Scion             120
Acura             112
Jaguar             88
Land Rover         85
smart              62
Pontiac            38
Saturn             31
Maserati           29
Mercury            15
Suzuki             14
Oldsmobile         13
Bentley            10
Saab                7
dodge               7
Tesla               6
chevrolet           5
Aston Martin        5
Ferrari             4
Rolls-Royce         4
Fisker              3
ford                2
mazda               2
bmw                 2
Plymouth            2
Isuzu               2
vw                  2
honda               1
oldsmobile          1
jeep                1
mitsubishi          1
Lamborghini         1
Name: count, dtype: int64

In [277]:
#2) What can be some reasons that types of vehicles are being bought as compared to other niche types?
# This might require more detailed analysis based on body types and price.
# We'll look at body type and compare sales by body type.
body_type_sales = df['body'].value_counts()
body_type_sales

body
Sedan          199437
SUV            119292
sedan           41906
suv             24552
Hatchback       21380
                ...
CTS-V Wagon         1
Ram Van             1
g37 coupe           1
cab plus 4          1
cts wagon           1
Name: count, Length: 87, dtype: int64

In [278]:
#3) What is the current market for the following vehicle types: sedans, trucks, SUVs, compacts, hybrids?
# Filter by body type to show the market for specific types of vehicles.
vehicle_types = ['Sedan', 'Truck', 'SUV', 'Compact', 'Hybrid']
market_share = df[df['body'].isin(vehicle_types)]['body'].value_counts()
market_share

body
Sedan    199437
SUV      119292
Name: count, dtype: int64

In [279]:
#4) What demographics are interested in what kind of car?
# Assuming the 'state' column can represent location and thus demographics.
demographics_by_vehicle = df.groupby('state')['make'].value_counts().unstack(fill_value=0)
demographics_by_vehicle

make,Acura,Aston Martin,Audi,BMW,Bentley,Buick,Cadillac,Chevrolet,Chrysler,Daewoo,...,oldsmobile,plymouth,pontiac,porsche,smart,subaru,suzuki,toyota,volkswagen,vw
state,,,,,,,,,,,,,,,,,,,,,
3vwd17aj0fm227318,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3vwd17aj2fm258506,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3vwd17aj2fm261566,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3vwd17aj2fm285365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3vwd17aj3fm259017,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tx,226,3,282,762,7,352,700,6348,1384,1,...,1,2,1,3,53,2,0,4,1,0
ut,7,0,14,20,0,14,25,310,50,0,...,0,0,0,0,0,1,0,0,0,0
va,162,0,68,268,0,127,196,1500,761,0,...,0,0,0,0,1,2,0,2,0,1
wa,90,1,119,329,0,35,59,625,102,0,...,0,0,1,0,0,2,0,0,1,1
wi,50,0,59,577,0,154,178,1420,276,0,...,2,0,1,0,11,2,0,2,0,0

In [280]:
#5) Top selling vehicles per state or region?
# Group by 'state' and 'make' to find the top-selling vehicle per state.
top_selling_per_state = df.groupby(['state', 'make'])['sellingprice'].count().unstack(fill_value=0)
top_selling_per_state

make,Acura,Aston Martin,Audi,BMW,Bentley,Buick,Cadillac,Chevrolet,Chrysler,Daewoo,...,oldsmobile,plymouth,pontiac,porsche,smart,subaru,suzuki,toyota,volkswagen,vw
state,,,,,,,,,,,,,,,,,,,,,
3vwd17aj0fm227318,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3vwd17aj2fm258506,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3vwd17aj2fm261566,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3vwd17aj2fm285365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3vwd17aj3fm259017,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tx,226,3,282,762,7,352,700,6348,1384,1,...,1,2,1,3,53,2,0,4,1,0
ut,7,0,14,20,0,14,25,310,50,0,...,0,0,0,0,0,1,0,0,0,0
va,162,0,68,268,0,127,196,1500,761,0,...,0,0,0,0,1,2,0,2,0,1
wa,90,1,119,329,0,35,59,625,102,0,...,0,0,1,0,0,2,0,0,1,1
wi,50,0,59,577,0,154,178,1420,276,0,...,2,0,1,0,11,2,0,2,0,0

In [281]:
#6) Is there a correlation between make and condition?
# We can calculate the average condition for each make and see the correlation.
condition_by_make = df.groupby('make')['condition'].mean()
condition_by_make

make
Acura           29.855151
Aston Martin    35.920000
Audi            31.551796
BMW             33.339915
Bentley         34.252174
                  ...
subaru          20.738095
suzuki          32.333333
toyota          24.551282
volkswagen      27.312500
vw              28.666667
Name: condition, Length: 96, dtype: float64

In [282]:
#7) Are there hybrids being sold? And is there a correlation between price versus non-hybrids?
# Assuming 'Hybrid' is a body type, filter the data.
hybrids = df[df['body'] == 'Hybrid']
non_hybrids = df[df['body'] != 'Hybrid']

# Compare the average selling prices.
hybrid_price = hybrids['sellingprice'].mean()
non_hybrid_price = non_hybrids['sellingprice'].mean()

hybrid_price, non_hybrid_price

#HYBRIDS ARE NOT A BODY TYPE 
#FLAG THIS CELL

(nan, np.float64(13611.358810003132))

In [283]:
#8) If the data includes number of previous owners, does this affect price?
# Assuming 'previous owners' is a column.
# Group by 'previous owners' and calculate average price.
if 'previous_owners' in df.columns:
    price_by_owners = df.groupby('previous_owners')['sellingprice'].mean()
    price_by_owners
else:
    print("Previous owners data not available.")
    
#NO PREVIOUS OWNERS DATA AVAILABLE
#FLAG THIS CELL

Previous owners data not available.

In [284]:
#9) What brands have the best resale value?
# Resale value can be calculated by comparing selling price with MMR.
resale_value = df.groupby('make').apply(lambda x: (x['sellingprice'] / x['mmr']).mean())
best_resale_value = resale_value.sort_values(ascending=False)
best_resale_value

C:\Users\khali\AppData\Local\Temp\ipykernel_10392\175578161.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  resale_value = df.groupby('make').apply(lambda x: (x['sellingprice'] / x['mmr']).mean())

make
airstream     2.406780
hyundai       1.227577
mercedes      1.221235
mazda tk      1.209302
gmc truck     1.184175
                ...
oldsmobile    0.863811
ford tk       0.805755
kia           0.787740
Daewoo        0.729161
dot           0.588235
Length: 96, dtype: float64

In [285]:
#10) How many vehicles were sold by each brand?
# Count the number of vehicles sold per make.
vehicles_sold_per_brand = df['make'].value_counts()
vehicles_sold_per_brand

make
Ford          93554
Chevrolet     60197
Nissan        53946
Toyota        39871
Dodge         30710
              ...
ford tk           1
chev truck        1
airstream         1
dot               1
Lotus             1
Name: count, Length: 96, dtype: int64

In [286]:
#11) What interior colors are the most popular?
# Count the frequency of each interior color.
popular_interior_colors = df['interior'].value_counts()
popular_interior_colors

interior
black        244329
gray         178581
beige         59758
tan           44093
—             17077
brown          8640
red            1363
blue           1143
silver         1104
off-white       480
purple          339
gold            324
white           256
green           245
burgundy        191
orange          145
yellow           20
Name: count, dtype: int64

In [287]:
#12) Do different transmission types affect a vehicle's price, and in what direction?
# Group by transmission type and calculate average price.
transmission_price_effect = df.groupby('transmission')['sellingprice'].mean()
transmission_price_effect

transmission
Sedan        13686.363636
automatic    13540.406866
manual       11211.448358
sedan        13650.000000
Name: sellingprice, dtype: float64

In [288]:
#13) Based on brand, what is the average selling price?
# Group by 'make' and calculate the average selling price.
average_price_by_brand = df.groupby('make')['sellingprice'].mean()
average_price_by_brand

make
Acura           14017.268260
Aston Martin    54812.000000
Audi            19915.432782
BMW             21441.895748
Bentley         74367.672414
                    ...
subaru           3710.416667
suzuki           4810.000000
toyota           7339.105263
volkswagen       6145.833333
vw              13672.916667
Name: sellingprice, Length: 96, dtype: float64

In [289]:
#14) Is there a correlation between condition and mileage?
# Using the correlation function to find the relationship between condition and odometer (mileage).
condition_mileage_correlation = df['condition'].corr(df['odometer'])
condition_mileage_correlation

#NEED FURTHER EVALUATION
#FLAG THIS CELL

np.float64(-0.3181880221156541)

In [290]:
#15) Are newer cars always in better condition than older cars, and does this affect anything?
# Group by 'year' to compare average condition.
condition_by_year = df.groupby('year')['condition'].mean()
condition_by_year

year
1982     3.000000
1983     3.000000
1984     2.000000
1985     2.000000
1986     1.800000
1987     2.000000
1988     2.090909
1989     2.105263
1990     1.840909
1991     1.875000
1992     1.762295
1993     1.848168
1994     1.803279
1995     1.788668
1996     1.798419
1997    15.451545
1998    15.947395
1999    17.425920
2000    18.579202
2001    19.616644
2002    21.105830
2003    22.346934
2004    23.447685
2005    24.210550
2006    25.347075
2007    26.954653
2008    28.172565
2009    29.182442
2010    30.801752
2011    33.171721
2012    34.538920
2013    35.167008
2014    32.190041
2015    29.630968
Name: condition, dtype: float64

In [291]:
#16) If the data includes fuel type, does it have an effect on price (electric versus gasoline)?
# Assuming 'fuel_type' is a column, we'll group by it and calculate the average price.
if 'fuel_type' in df.columns:
    price_by_fuel_type = df.groupby('fuel_type')['sellingprice'].mean()
    price_by_fuel_type
else:
    print("Fuel type data not available.")
    
#DATA SET DOES NOT GIVE US FUEL TYPE
#FLAG THIS CELL

Fuel type data not available.

In [292]:
#17) What are the most popular types of vehicles: sedans, trucks, or SUVs?
# Count the number of occurrences for each body type.
popular_vehicle_types = df['body'].value_counts()
popular_vehicle_types

body
Sedan          199437
SUV            119292
sedan           41906
suv             24552
Hatchback       21380
                ...
CTS-V Wagon         1
Ram Van             1
g37 coupe           1
cab plus 4          1
cts wagon           1
Name: count, Length: 87, dtype: int64

In [293]:
#18) How drastic of a difference does mileage have on selling price?
# Use correlation to see the effect of mileage (odometer) on price.
mileage_price_correlation = df['odometer'].corr(df['sellingprice'])
mileage_price_correlation

np.float64(-0.5823934572366675)

In [294]:
#19) Does a type of vehicle affect its selling price?
# Group by body type and calculate the average selling price.
price_by_vehicle_type = df.groupby('body')['sellingprice'].mean()
price_by_vehicle_type

body
Access Cab            13262.500000
Beetle Convertible    18070.192308
CTS Coupe             22758.527132
CTS Wagon             17811.538462
CTS-V Coupe           38425.750000
                          ...
transit van           22707.142857
tsx sport wagon       18118.750000
van                   15009.742105
wagon                 10551.605442
xtracab                5250.000000
Name: sellingprice, Length: 87, dtype: float64

In [295]:
#20) Does a vehicle's color impact its value?
# Group by color and calculate the average selling price.
price_by_color = df.groupby('color')['sellingprice'].mean()
price_by_color

color
11034        13900.000000
1167         13200.000000
12655        13850.000000
14872        13700.000000
15719        13650.000000
16633        13600.000000
18384        13550.000000
18561        13200.000000
20379        13600.000000
20627        13600.000000
2172         14050.000000
2711         14250.000000
2817         13750.000000
2846         13600.000000
339          14300.000000
4802         13200.000000
5001         13400.000000
5705         13400.000000
6158         13650.000000
6388         13850.000000
6864         14000.000000
721          14100.000000
9410         13300.000000
9562         13200.000000
9837         13500.000000
9887         13900.000000
beige         9431.169269
black        15509.004749
blue         11440.609234
brown        15352.808099
burgundy     11902.997548
charcoal     16247.496868
gold          8324.714953
gray         13951.472880
green         8301.808733
lime         13256.666667
off-white    15230.229814
orange       12787.109240
pink         11746.428571
purple       11969.684817
red          12688.912002
silver       11781.008599
turquoise     8374.478814
white        14740.698566
yellow       12652.202335
—            17819.737249
Name: sellingprice, dtype: float64

In [296]:
#21) What models are the most popular based on year?
# Group by 'year' and 'model' to find the most frequent models.
popular_models_by_year = df.groupby(['year', 'model']).size().unstack().fillna(0)
popular_models_by_year.idxmax(axis=1)  # Find the most popular model for each year

year
1984    corvette
1985    corvette
1986      420sel
1987        300e
1989        300e
1990      Accord
1991       Camry
1992      Accord
1993       Camry
1994      Accord
1995       Camry
1996      Accord
1997      Accord
1998      Accord
1999      Accord
2000      Accord
2001      Accord
2002      Accord
2003      Accord
2004       F-150
2005      Altima
2006       F-150
2007       F-150
2008      Impala
2009       Camry
2010       F-150
2011       F-150
2012      Altima
2013      Altima
2014       Camry
2015     Sorento
dtype: object

In [297]:
#22) Do different vehicle types have different average price points?
# Group by the 'body' column and calculate the average selling price for each body type
price_by_body_type = df.groupby('body')['sellingprice'].mean().sort_values(ascending=False)

# Display the result
price_by_body_type



#PLEASE RE-EVALUATE THIS CELL: WAY TOO MANY INVALID DATES, ALMOST 25% OF THE DATASET IS INVALID
#FLAG THIS CELL

body
granturismo convertible    79041.666667
GranTurismo Convertible    74000.000000
CTS-V Wagon                50500.000000
cts-v coupe                39707.142857
CTS-V Coupe                38425.750000
                               ...
Xtracab                     5818.750000
xtracab                     5250.000000
Club Cab                    4650.064103
Cab Plus                    2825.000000
Ram Van                     1200.000000
Name: sellingprice, Length: 87, dtype: float64

In [298]:
#23) How much of a difference does trim level affect price?
# Group by 'trim' and calculate average price.
price_by_trim = df.groupby('trim')['sellingprice'].mean()
price_by_trim

trim
!                      8762.796976
& coun fwd              400.000000
& coun fwd limited     1500.000000
& coun fwd lx          1235.714286
& country lx           6550.000000
                          ...
xr                     3950.000000
xr-7                    550.000000
yuk xl 4x2 slt         5200.000000
z06                   34783.333333
zx3                     650.000000
Name: sellingprice, Length: 1963, dtype: float64

In [299]:
#24) What is the distrubtion of vehicle brands in the different conditions?
# Group by vehicle make and condition, then count the number of vehicles in each condition for each make
condition_distribution = df.groupby(['make', 'condition']).size().unstack(fill_value=0)

# Display the result
condition_distribution

condition,1.0,2.0,3.0,4.0,5.0,11.0,12.0,13.0,14.0,15.0,...,39.0,41.0,42.0,43.0,44.0,45.0,46.0,47.0,48.0,49.0
make,,,,,,,,,,,,,,,,,,,,,
Acura,50,217,87,152,25,0,0,1,0,0,...,205,266,222,195,178,96,55,70,56,48
Aston Martin,0,0,1,0,0,0,0,0,0,0,...,1,2,2,0,1,0,1,0,1,1
Audi,40,159,84,181,142,1,1,1,0,1,...,195,272,273,265,242,126,130,123,140,139
BMW,120,496,246,545,446,4,4,2,3,0,...,786,1049,1063,1169,1249,630,605,583,555,685
Bentley,0,2,2,4,3,0,1,0,0,0,...,7,9,11,5,5,4,3,2,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
subaru,2,6,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
suzuki,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
toyota,2,9,1,0,0,0,0,0,0,0,...,3,2,2,1,1,1,1,0,0,0
volkswagen,0,1,0,0,0,0,0,0,0,0,...,1,0,1,2,0,0,0,0,0,0
vw,0,2,0,1,3,0,0,0,0,0,...,2,0,0,1,1,1,2,2,0,0

In [300]:
#25) Is there a trend of what vehicles are sold based on region, for example urban vs rural?
# Assuming 'state' represents different regions, group by 'state' and 'body'.
vehicles_sold_by_region = df.groupby(['state', 'body']).size().unstack().fillna(0)
vehicles_sold_by_region

body,Access Cab,Beetle Convertible,CTS Coupe,CTS Wagon,CTS-V Coupe,CTS-V Wagon,Cab Plus,Cab Plus 4,Club Cab,Convertible,...,regular-cab,sedan,supercab,supercrew,suv,transit van,tsx sport wagon,van,wagon,xtracab
state,,,,,,,,,,,,,,,,,,,,,
3vwd17aj0fm227318,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3vwd17aj2fm258506,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3vwd17aj2fm261566,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3vwd17aj2fm285365,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3vwd17aj3fm259017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tx,9.0,1.0,6.0,0.0,5.0,0.0,0.0,0.0,7.0,488.0,...,0.0,3206.0,105.0,269.0,2039.0,0.0,0.0,53.0,180.0,0.0
ut,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,...,0.0,76.0,10.0,36.0,48.0,0.0,0.0,5.0,5.0,0.0
va,3.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0,107.0,...,0.0,604.0,9.0,11.0,419.0,0.0,0.0,12.0,48.0,0.0
wa,6.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,74.0,...,2.0,457.0,15.0,50.0,371.0,0.0,0.0,11.0,59.0,0.0
wi,3.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,1.0,92.0,...,0.0,856.0,18.0,31.0,526.0,1.0,0.0,9.0,53.0,1.0

In [301]:
#26) What are the most popular colors being sold?
# Count the frequency of each exterior color.
popular_colors = df['color'].value_counts()
popular_colors

color
black        110970
white        106673
silver        83389
gray          82857
blue          51139
red           43569
—             24685
green         11382
gold          11342
beige          9222
burgundy       8972
brown          6717
orange         2078
purple         1561
off-white      1449
yellow         1285
charcoal        479
turquoise       236
pink             42
lime             15
4802              1
9410              1
1167              1
2172              1
14872             1
12655             1
15719             1
6388              1
16633             1
11034             1
2711              1
6864              1
339               1
18384             1
9887              1
9837              1
20379             1
20627             1
721               1
6158              1
2817              1
5705              1
18561             1
2846              1
9562              1
5001              1
Name: count, dtype: int64

In [302]:
#27) What is the average mileage on vehicles being sold across different regions?
# Group by 'state' and calculate average mileage (odometer).
mileage_by_region = df.groupby('state')['odometer'].mean()
mileage_by_region

state
3vwd17aj0fm227318       41.000000
3vwd17aj2fm258506        1.000000
3vwd17aj2fm261566       48.000000
3vwd17aj2fm285365        1.000000
3vwd17aj3fm259017       46.000000
                         ...
tx                   73501.800531
ut                   93309.826797
va                   98693.184782
wa                   64972.410225
wi                   66237.056644
Name: odometer, Length: 64, dtype: float64

In [303]:
#28) Are cars being sold more from dealerships or private sellers? Can a percentage be determined?
# Assuming 'seller' can distinguish between dealership and private.
seller_distribution = df['seller'].value_counts(normalize=True) * 100
seller_distribution

#THIS RESULT CANT BE QUANTIFIABLE
#FLAG THIS CELL

seller
nissan-infiniti lt               3.523926
ford motor credit company llc    3.428907
the hertz corporation            3.274479
santander consumer               2.735145
avis corporation                 2.243946
                                   ...
jimmy auto sale llc              0.000179
flynns auto sls & serv inc       0.000179
ruthrauff auto sales llc         0.000179
lsk automotive llc               0.000179
auto rental etc                  0.000179
Name: proportion, Length: 14263, dtype: float64

In [304]:
#29) Does a vehicle's condition have an effect on selling price?
# Using correlation to see the relationship between condition and selling price.
condition_price_correlation = df['condition'].corr(df['sellingprice'])
condition_price_correlation

np.float64(0.32194352975534246)

In [305]:
#30) Does price differ between the same condition vehicles across different states or regions?
# Group by 'state' and 'condition' to calculate average price.
price_by_condition_region = df.groupby(['state', 'condition'])['sellingprice'].mean().unstack().fillna(0)
price_by_condition_region

condition,1.0,2.0,3.0,4.0,5.0,11.0,12.0,13.0,14.0,15.0,...,39.0,41.0,42.0,43.0,44.0,45.0,46.0,47.0,48.0,49.0
state,,,,,,,,,,,,,,,,,,,,,
ab,2803.125000,3468.345324,6163.274336,12518.750000,24521.666667,0.000000,0.000000,0.000000,0.000000,0.000000,...,14503.448276,16507.575758,16045.454545,16967.142857,18150.000000,20440.000000,21143.333333,23475.000000,22135.000000,24004.411765
al,1650.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,10800.000000,0.000000,18800.000000,17800.000000,0.000000,0.000000,0.000000,0.000000,0.000000
az,4965.767045,6083.310627,10938.765823,17117.804878,22264.130435,0.000000,0.000000,1125.000000,1050.000000,7140.000000,...,15635.335689,16674.143836,17212.989324,17774.008811,17863.841808,20137.857143,22982.031250,22426.530612,25471.428571,26487.179487
ca,6729.573128,6882.651913,11413.109726,18815.086114,28368.375831,5850.000000,3302.380952,5306.250000,3028.947368,5377.777778,...,17429.743276,19055.720726,19961.185645,20714.790574,21708.739679,23119.457823,23603.726965,24055.586379,25407.158506,25535.299003
co,6296.551724,10055.433121,16867.445736,18286.760563,23574.008811,2000.000000,6750.000000,0.000000,1200.000000,3800.000000,...,17574.582492,17962.503086,18271.380829,18850.404255,19531.350562,19913.398907,20071.364078,20402.234637,21291.100457,23204.243542
fl,3104.804788,6437.777566,13506.540605,17799.422016,24742.725410,4855.555556,7912.500000,2905.000000,3850.000000,3921.875000,...,16239.805352,17549.821418,18323.040739,19111.324074,19481.285070,20515.438343,20565.612952,21510.165615,21543.605157,22478.157350
ga,2978.362573,5866.044162,10545.368557,16571.223201,24913.569322,1275.000000,2280.000000,2487.500000,4350.000000,1611.363636,...,15205.892826,17234.680691,17612.927076,17980.824735,18871.982833,19682.176871,19535.409035,20276.907552,22138.340708,21450.840985
hi,3620.000000,4682.692308,14055.681818,15998.888889,19976.666667,6000.000000,0.000000,0.000000,100.000000,300.000000,...,13694.262295,14314.000000,16039.655172,15980.833333,15557.142857,20388.888889,17603.030303,17261.904762,16726.666667,16684.210526
il,3195.757576,10063.497902,16286.968723,18577.693129,23464.698609,9000.000000,1983.333333,4566.666667,5675.000000,3750.000000,...,16009.724398,16773.061782,17179.801898,17692.793341,18049.447130,19099.291498,19573.944687,19835.914683,19213.550816,21865.487644
in,3265.530303,5969.950331,7956.318681,12996.478873,17725.490196,0.000000,4100.000000,3700.000000,0.000000,0.000000,...,12118.862275,13761.006289,14159.788360,15742.922374,15566.818182,17597.881356,16551.709402,17361.875000,17997.096774,18675.000000
la,3152.083333,5309.154930,9721.875000,15181.605263,23573.684211,1800.000000,3000.000000,600.000000,2600.000000,1400.000000,...,11952.000000,15140.769231,14561.594203,15465.306122,17127.551020,15358.444444,19338.888889,20895.454545,24955.277778,23567.241379
ma,1244.318182,3418.363636,8355.952381,13129.166667,17700.000000,0.000000,0.000000,0.000000,0.000000,2000.000000,...,11429.330709,11204.615385,13696.521739,13531.460674,14653.289474,14976.923077,15589.655172,15777.777778,18068.750000,21983.333333
md,2449.303797,2651.167854,5570.329670,11605.246914,17456.410256,3600.000000,4431.250000,12200.000000,1600.000000,1750.000000,...,11491.612903,12390.377358,12510.766423,13852.819549,14231.250000,14078.968254,17116.528926,15989.805825,16409.448819,17705.147059
mi,3535.294118,5791.546559,11304.268199,16809.657856,21381.750392,3100.000000,4550.000000,2625.000000,3250.000000,2880.000000,...,15554.633911,15966.507463,16696.072886,17534.476074,17804.970085,17519.138632,18378.132710,18235.511628,18266.743146,19085.049318
mn,3812.500000,6430.333333,14584.396476,18303.152941,23054.166667,3400.000000,0.000000,0.000000,0.000000,0.000000,...,14642.082927,15392.663657,15803.443750,16588.763466,16707.658228,17993.777778,18369.569565,19847.076577,19403.055556,21237.830688
mo,2181.938462,6134.558824,11461.051948,16777.275401,24449.858757,6550.000000,937.500000,2000.000000,3600.000000,4058.333333,...,15430.945551,17241.293044,17568.745474,18581.646202,18774.540541,19095.257611,20164.076087,19755.681481,19960.197368,22152.153110
ms,3600.000000,6286.805556,10625.471698,15914.772727,34055.555556,0.000000,500.000000,3350.000000,0.000000,3000.000000,...,15887.096774,15106.756757,15119.230769,14734.426230,16665.625000,17477.272727,18212.000000,18673.913043,17900.000000,19893.548387
nc,1952.459016,3768.700397,7939.066667,12809.306818,21603.043478,1580.000000,1283.333333,1370.000000,3000.000000,1450.000000,...,12582.461905,13292.083333,13469.043887,13855.980092,14370.998339,15886.413043,16192.276423,16669.194313,17770.697674,18738.669951
ne,1647.727273,4507.961538,12083.333333,18452.512500,26869.444444,1500.000000,500.000000,0.000000,0.000000,450.000000,...,16914.902041,17732.741007,17964.705882,17432.221154,18925.675676,20264.062500,20009.615385,18760.000000,20823.809524,24981.000000
nj,6167.766497,7049.191964,11621.006803,16433.998192,29170.821530,3462.500000,19600.000000,3187.500000,3085.714286,9433.333333,...,15787.490269,16767.986355,17739.438552,18366.360595,19198.218360,20869.886364,22188.868421,22371.283784,23527.041958,27067.088186
nm,486.363636,1164.705882,2800.000000,11200.000000,24000.000000,0.000000,0.000000,0.000000,0.000000,3575.000000,...,12200.000000,11866.666667,16320.000000,18300.000000,14400.000000,14250.000000,26900.000000,11600.000000,24350.000000,12300.000000
ns,0.000000,4300.000000,6533.333333,11233.333333,11700.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7325.000000,13366.666667,11900.000000,14300.000000,10400.000000,0.000000,14200.000000,20400.000000,17400.000000,24300.000000
nv,5061.682243,2955.368116,10949.359477,17731.486880,26485.952381,4400.000000,4250.000000,4050.000000,4100.000000,3166.666667,...,18485.678988,19400.565217,19976.642748,19843.210687,20527.348485,20652.293578,22548.888889,23297.870370,23623.780488,23721.285714
ny,3638.917526,5028.155340,11267.307692,15694.375000,22890.163934,0.000000,0.000000,0.000000,2000.000000,0.000000,...,15991.614907,15886.650307,16949.421965,17544.117647,18040.445860,17251.162791,19471.900826,19225.961538,19912.634409,22622.689076
oh,1405.869289,4387.289157,10400.258537,17442.862782,25510.054366,6550.000000,3230.000000,2090.000000,2150.000000,2907.142857,...,15904.990279,17692.570069,17743.716129,18186.344275,19183.219188,20310.897661,20419.974138,21144.611521,21910.739191,24414.884718
ok,3300.000000,3850.000000,3200.000000,12133.333333,8800.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,15400.000000,11150.000000,7700.000000,12150.000000,8850.000000,0.000000,9400.000000,11350.000000,8450.000000,0.000000
on,1043.333333,5704.687500,10634.090909,17064.814815,24686.288089,0.000000,0.000000,0.000000,0.000000,0.000000,...,18082.758621,18358.333333,20090.000000,20449.411765,21612.562814,22151.324503,22197.931034,22468.062827,23345.052083,24046.581197
or,9982.857143,7347.587719,17339.583333,16212.500000,23404.166667,0.000000,1600.000000,4700.000000,2700.000000,11000.000000,...,12877.586207,16609.259259,14155.660377,14665.116279,16569.444444,15969.230769,19342.307692,17758.823529,14322.222222,17950.000000
pa,4326.022727,6361.779595,13193.298028,18602.676697,27038.317256,3516.666667,4500.000000,5087.500000,4100.000000,8050.000000,...,16202.415339,18251.949261,18593.272146,19624.027731,19510.274066,19878.466814,20725.970048,21245.089494,22464.797729,24253.043143
pr,1873.529412,2891.525424,6303.012048,13149.122807,17100.000000,0.000000,0.000000,0.000000,700.000000,0.000000,...,11252.100840,12706.422018,13932.589286,14013.000000,16379.816514,18902.127660,16791.111111,18279.310345,19714.285714,18157.142857
qc,6000.000000,5280.000000,8870.329670,10682.000000,23600.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,10308.571429,10122.222222,11037.037037,14436.000000,15248.245614,14665.476190,17145.833333,18274.285714,19842.528736,21096.296296
sc,5733.245161,7808.758065,10502.112676,13043.705882,23973.214286,0.000000,0.000000,0.000000,0.000000,2750.000000,...,13119.767442,13816.579618,13722.136054,14522.375887,17055.489051,18510.000000,18041.666667,19720.634921,18755.555556,21887.500000
tn,4200.921659,6944.722814,13034.049080,18923.471400,26486.533742,4850.000000,3225.000000,0.000000,4933.333333,4640.000000,...,17439.037759,18493.871297,19369.897004,19432.620968,20474.188204,21347.590361,21260.006211,21941.559278,22227.387486,23682.791878
tx,2973.288274,5126.174792,12155.106809,17299.614341,25360.122283,4861.904762,4406.666667,3860.526316,2108.333333,3321.428571,...,16451.621576,16767.907759,17618.489318,18296.942857,19157.785224,18877.737418,20103.412941,20114.266487,21817.793594,22892.740047
ut,5299.832215,5823.387097,14874.137931,17871.875000,26200.000000,2615.000000,2500.000000,0.000000,0.000000,300.000000,...,16444.285714,18401.785714,20850.000000,17530.434783,18600.000000,18388.888889,22500.000000,22033.333333,19712.500000,20860.000000
va,1059.015674,2809.167742,10047.187793,17924.266432,19671.165644,1275.000000,2700.000000,2366.666667,3800.000000,4450.000000,...,11648.600000,13547.083333,13345.175439,15015.000000,15152.793296,16740.338710,17168.750000,15292.000000,18487.234043,19366.901408
wa,3570.454545,3716.734417,8593.400000,16077.976190,21850.797872,6000.000000,1050.000000,0.000000,8000.000000,2783.333333,...,16172.846645,16682.611594,17518.646409,17201.549872,17854.971922,18567.906977,18956.117904,19375.833333,19024.881517,20771.991701
wi,2759.339888,8279.330254,13732.894737,19856.868132,25857.880435,6400.000000,1785.000000,7375.000000,4750.000000,5300.000000,...,17850.445104,18936.363636,18730.774278,18897.770270,20626.172840,20274.190217,20652.063107,20906.388889,23052.790698,23276.077720